<mat-toolbar color="primary">
  <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>TestYourself</span>
  <span class="example-spacer"></span>


  <a *ngIf="!login.isLoggedIn()" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon "
    aria-label="Example icon-button with heart icon">
    Login
  </a>

  <a *ngIf="!login.isLoggedIn()" [routerLink]="'/register'" mat-icon-button class="example-icon favorite-icon mr40 ml40 "
    aria-label="Example icon-button with heart icon">
    Register

  </a>
  <a  *ngIf="isLoggedIn" mat-icon-button class="example-icon favorite-icon mr40 "
      routerLink="/admin/profile"
    aria-label="Example icon-button with heart icon">
    {{login.getUser().username}}

  </a>

  <a (click)="logout()" *ngIf="login.isLoggedIn()" mat-icon-button class="example-icon favorite-icon mr40 "
    aria-label="Example icon-button with heart icon">
    Logout

  </a>
  

</mat-toolbar>